.recipeCard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: sans-serif;
  color: grey;
}

.recipeName {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipeDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeInstructions {
  padding: 0;
  border-radius: 5px;
  color: #aaabaa;
}

.recipeInstructions ol {
  margin: 0px;
}

.recipeInstructions li {
  margin-left: 10px;
}
